[submodule "cacti"]
    path = cacti
    url = https://github.com/AlexMontgomerie/cacti

[submodule "ramulator"]
    path = ramulator
    url = https://github.com/AlexMontgomerie/ramulator

[submodule "DRAMPower"]
    path = DRAMPower
    url = https://github.com/AlexMontgomerie/DRAMPower

[submodule "HighFive"]
    path = HighFive
    url = https://github.com/BlueBrain/HighFive

[submodule "SCALE-Sim"]
    path = SCALE-Sim
    url = https://github.com/ARM-software/SCALE-Sim

