[submodule "cacti"]
    path = cacti
    url = https://github.com/AlexMontgomerie/cacti

[submodule "ramulator"]
    path = ramulator
    url = https://github.com/CMU-SAFARI/ramulator

[submodule "DRAMPower"]
    path = DRAMPower
    url = https://github.com/tukl-msd/DRAMPower
